[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]
Django = "*"
django = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
python-decouple = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.4"
